.App-myLogo {
    width: 20%;
    border-radius: 100px;
}

h1 {
    font-size: 50px;
    margin: 0px;
    margin-right: 100px;
    text-align: left;
}

button {
    background-color: #b6f9fd;
    font-size: 35px;
    border-radius: 20%;
    margin: 0px;
    margin-right: 10px;
    margin-top: 15px;
}

.App-keranjang {
    margin-bottom: 15px;
}
 .App-avatar {
    margin-bottom: 15px;
    margin-left: 50px;
 }